/*RESET CSS*/
html, body, div, span, h1, h2, h3, p, a, em, img, strong, ol, ul, li {margin:0;padding:0;border:0;outline:0;background:transparent;font-size:100%}
ol, ul {list-style:none}
/*CAROUSEL CSS*/
body{font-family:Arial, Helvetica, sans-serif;background:#d9ca9c;color:black}
#container{width:30em;margin:2.75em auto 0;overflow:hidden}
#container #display a{display:block;text-align:center;text-decoration:none;color:#d9b64e}
#container #display a.nav-left{float:left;width:1.75em;padding-top:14em}
#container #display a.nav-right{float:right;width:1.75em;padding-top:14em}
#container #display .contdetail{float:left;width:26.5em;height:26.5em;overflow:hidden;padding-top:1.75em;position:relative}
#container #display #detail{position:relative;overflow:hidden}
#container #display li{float:left;width:26.5em;height:26.5em;overflow:hidden}
#container #album_nav a.nav-left,
#container #album_nav a.nav-right{display:block;text-align:center;text-decoration:none;color:#d9b64e}
#container #album_nav a.nav-left{float:left;width:1.75em;padding-top:1.25em}
#container #album_nav a.nav-right{float:right;width:1.75em;padding-top:1.25em}
#container #display{height:30em;overflow:hidden;background:#bf2e21;-moz-border-radius:.5em;border-radius:.5em;margin-bottom:1em}
#container #album_nav{clear:both;height:3.5em;overflow:hidden;background:#bf2e21;-moz-border-radius:.5em;border-radius:.5em;padding:2.5em 0}
#container .thumbs{width:26.5em;overflow:hidden;float:left;position:relative}
#container #albums{position: relative}
#container #albums li{float:left;padding-left:2.5em;width:3.5em;height:3.5em;}
